###### Requirements without Version Specifiers ######
flake8
black
numpy
matplotlib
tensorboard
pyserial
scikit-learn
scikit-learn-intelex
opencv-python
sympy

###### Requirements with Version Specifiers ######